<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab Exam 3</display-name>
  <servlet>
    <description></description>
    <display-name>ShowAll</display-name>
    <servlet-name>ShowAll</servlet-name>
    <servlet-class>application.controller.web.ShowAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAll</servlet-name>
    <url-pattern>/showall.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoggedInFilter</display-name>
    <filter-name>LoggedInFilter</filter-name>
    <filter-class>application.filters.LoggedInFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggedInFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddTrainee</display-name>
    <servlet-name>AddTrainee</servlet-name>
    <servlet-class>application.controller.web.AddTrainee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTrainee</servlet-name>
    <url-pattern>/addTrainee</url-pattern>
  </servlet-mapping>
</web-app>